<md-content layout="row"
            layout-align="space-around"
            layout-padding="layout-padding"
            ng-cloak="ng-cloak">

    <md-card flex="flex"
             flex-gt-sm="50"
             flex-gt-md="33">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Reset Password</h2>
            </div>
        </md-toolbar>

        <form name="resetPasswordForm">

            <md-input-container class="md-block">
                <input name="username"
                       type="text"
                       placeholder="Username or email"
                       ng-model="vm.command.user"
                       required=""/>

                <div role="alert"
                     ng-messages="resetPasswordForm.username.$error">

                    <div ng-message="required">Please enter a username or email address.</div>
                    <div ng-message="notExist">Username and/or email does not exist.</div>
                </div>
            </md-input-container>

            <md-button class="md-raised md-primary"
                       ng-disabled="!resetPasswordForm.$valid"
                       ng-click="vm.resetPassword()">&nbsp Send Confirmation Code &nbsp
            </md-button>
        </form>

    </md-card>
</md-content>